
<%= simple_form_for(compost) do |f| %>
  <div class='geocoder' id='geocoder<%= compost.id ? compost.id : 0 %>'></div>
  <div id='fakemap<%= compost.id ? compost.id : 0 %>'></div>
  <%= f.input :address, input_html: { class: "compost_address", type: "hidden", id: "compost#{compost.id ? compost.id : 0}" }, label: false, placeholder: "votre point de rendez-vous" %>
  <%= f.input :description, label: "Description", placeholder: "type de bio-déchets que vous acceptez, modalités de rendez-vous, etc. ", input_html: { rows: 8 } %>
  <div class="form-submit text-center">
    <%= f.button :submit, "Ajouter", class: "btn-rounded btn-success" %>
  </div>
<% end %>

