<div id="content">
  <%= link_to compost_path(compost) do %>
    <% if compost.public %>
      <p class="bold orange" style="font-size: 16px">
        <%= icon('fas', 'map-signs')  %> Composteur collectif
      </p>
    <% else %>
      <p class="bold green" style="font-size: 16px">
        <%= icon('fas', 'home')  %> <%= compost.user.username ? compost.user.username.capitalize : compost.user.first_name %>
      </p>
    <% end %>
    <p class="grey" style="font-size: 13px"><%= compost.address %></p>
  <% end %>
</div>
