<div id="content">
  <%= link_to compost_path(compost) do %>
    <% if compost.public %>
      <p class="bold orange">
        <%= icon('fas', 'map-signs')  %> Compost public
      </p>
    <% else %>
      <p class="bold green">
        <%= icon('fas', 'home')  %> <%= compost.user.username ? compost.user.username.capitalize : compost.user.first_name %>
      </p>
    <% end %>
    <p class="grey"><%= compost.address %></p>
  <% end %>
</div>
