<h2>Admin dashboard</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID Compost</th>
      <th scope="col">Adresse</th>
      <th scope="col">Description</th>
      <th scope="col">Public?</th>
      <th scope="col">Supprimé?</th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Modifier?</th>
      <th scope="col">Supprimer?</th>
    </tr>
  </thead>
  <tbody>
    <% @composts.each do |compost| %>
      <tr>
        <%= simple_form_for compost do |f| %>
          <th scope="row"><%= compost.id %></th>
          <td><%= f.input :address, label: false %></td>
          <td><%= f.input :description, label: false %></td>
          <td><%= f.input :public, label: false %></td>
          <td><%= f.input :deleted, label: false %></td>
          <td><%= f.association :user, label_method: :id, value_method: :id, include_blank: false, label: false %></td>
          <td><%= f.submit "OK" %></td>
          <% end %>
          <td>
            <%= link_to compost_path(compost), method: :delete do %>
              <%= icon('fas', 'trash') %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>






