<% content_for(:meta_title) { "ADMIN" } %>
<div class="content-container">
  <h2>Admin Dashboard</h2>

  <div class="content-container profile-list">
    <h4>Pretender</h4>

    <form class="form-inline">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Se faire passer pour: </label>
        <select class="form-control" id="userid">
          <option disabled selected value> -- choisir un utilisateur -- </option>
          <% @users.each do |user| %>
            <option><%= user.id %>. <%= user.username || user.first_name + " " + user.last_name %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group" id="btn-imp"></div>
      <%#= link_to User.first.username, impersonate_user_path(User.first), method: :post %>
      <!-- <button type="submit" id="btn-imp" class="btn btn-primary mb-2">Submit</button> -->
    </form>
  </div>

  <div class="content-container profile-list">
    <h4>Ajouter un composteur (collectif)</h4>
    <table class="table admin-table new-table">
        <thead>
        <tr>
          <th scope="col">Adresse</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= simple_form_for @compost do |f| %>
            <td><%= f.input :address, label: false, input_html: { class: "compost_address", type: "hidden", id: "0" } %>
              <div id="geocoder0"></div>
              <div id="fakemap0"></div>
            </td>
              <td><%= f.input :description, label: false %>
              <%= f.input :public, as: :hidden, input_html: { value: true }, label: false %></td>
              <td><%= f.submit "Créer" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="content-container profile-list">
    <h4>Modifier un composteur</h4>
    <div class="search-table-container">
      <div class="search-table">
        <p>Filtrer par utilisateur: </p>
        <%= form_tag dashboard_path, method: :get do %>
          <%= text_field_tag :user_search,
            params[:user_search],
            class: "form-control",
            placeholder: "username, first name, last name"
          %>
        <% end %>
      </div>
    </div>
    <br>
    <table class="table admin-table change-table">
      <thead>
        <tr>
          <th scope="col">ID Composteur</th>
          <th scope="col">Adresse rdv</th>
          <th scope="col">Description</th>
          <th scope="col">Collectif?</th>
          <th scope="col">Supprimé par l'Utilisateur?</th>
          <th scope="col">Utilisateur</th>
          <th scope="col">Valider les Modifications</th>
          <th scope="col">Détruire?</th>
        </tr>
      </thead>
      <tbody>
        <% @composts.each do |compost| %>
          <tr>
            <%= simple_form_for compost do |f| %>
              <th scope="row"><%= compost.id %></th>
              <td>
                <div id='geocoder<%= compost.id ? compost.id : 0 %>'></div>
                <div id='fakemap<%= compost.id ? compost.id : 0 %>'></div>
                <%= f.input :address, label: false, input_html: { class: "compost_address", type: "hidden", id: "#{compost.id ? compost.id : 0}" } %>
              </td>
              <td><%= f.input :description, label: false %></td>
              <td><%= f.input :public, label: false %></td>
              <td><%= f.input :deleted, label: false %></td>
              <td><%= f.association :user, label_method: :id, value_method: :id, include_blank: false, label: false %></td>
              <td class="text-center"><%= f.submit "OK" %></td>
              <% end %>
              <td class="text-center">
                <%= link_to compost_path(compost), data: { confirm: "La suppression sera définitive" }, method: :delete do %>
                  <%= icon('fas', 'trash') %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
  </table>
  </div>
</div>





