<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <div>
        <h2> Les composts à votre disposition </h2>

        <%= form_tag composts_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher un compost (lieu, description)"
          %>
        <% end %>
        <ul>
          <% @composts.each do |compost| %>
            <li> <%= link_to compost_path(compost) do %>
              <%= compost.address %> - <%= compost.public ? "Public" : "Particulier" %>
              <% end %></li>
          <% end %>
        </ul>
        <h3><%= link_to 'ajouter votre compost', new_compost_path %></h3>
      </div>
    </div>
    <div class="col xs-12 col-sm-5">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>


