<% content_for(:meta_title) { "Trouvez un compost" } %>
<div class="container no-margin-container">
  <div id="index-head">
    <div id="search-head"><%= icon('fas', 'search') %>
    <%= form_tag composts_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Affiner la recherche (adresse, code postal)"
      %>
    <% end %>
    </div>
    <div id="add-head">
      <%= link_to new_compost_path do%>
        <%= icon('far', 'plus-square') %>
      <% end %>
      <p>Ajouter un compost </p>
    </div>
  </div>
  <div class="row" style="width: 100%; margin-left: 0;">
    <div class="col-xs-12 col-sm-7">
      <div class="row card-container">
        <% @composts.each do |compost| %>
          <div class="col-xs-12 col-sm-6 col-md-4 no-col-padding">
            <div class="compost-card text-center">
              <%= link_to compost_path(compost) do %>
                <% if compost.public %>
                  <p class="bold orange">
                    <%= icon('fas', 'map-signs')  %><br>
                    Compost collectif
                  </p>
                <% else %>
                  <p class="bold green">
                    <%= icon('fas', 'home')  %><br>
                    <%= compost.user.username ? compost.user.username.capitalize : compost.user.first_name %>
                  </p>
                <% end %>
                <p class="grey"><%= compost.address %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col xs-12 col-sm-5" style="padding: 0;">
      <div class="sticky-container">
       <div
          id="map"
          style="width: 100%;
          height: calc(100vh - 65px);"
          data-pubmrkrs="<%= @public_markers.to_json %>"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>
</div>


