<% content_for(:meta_title) { @compost.public ? "composteur collectif" : ("composteur de #{@compost.user.username ? @compost.user.username.capitalize : @compost.user.first_name}") } %>
<div class="content-container" style="background-image:
         url('<%= cl_image_path "caroline-attwood-225496-unsplash_sgbrxj.jpg", :gravity=>"south", :opacity=>20, :width=>2000, :crop=>"fill" %>')">
  <p class= "text-left">
    <%= link_to composts_path do %>
     <%= icon('fas', 'arrow-left') %> Retour à la liste
    <% end %>
  </p>
  <div class="text-center form-heading">
    <% if @compost.public %>
      <h3>Composteur collectif</h3>
    <% else %>
      <h3>Composteur de <%= @compost.user.username ?  @compost.user.username.capitalize : @compost.user.first_name %></h3>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <% if @compost.public || @compost.user == current_user %>
        <div class="col-sm-12">
      <% else %>
        <div class="col-sm-6">
      <% end %>
          <div class="form-container">
            <h4 class="green">Description:</h4>
            <p class="text-justify"><%= simple_format(@compost.description) %></p>
            <h4 class="green"><%= @compost.public ? "Adresse:" : "Point de rendez-vous:"%></h4>
            <p class="text-justify"><%= @compost.address %></p>
            <div
              id="map"
              style="width: 100%;
              height: 400px;"
              data-markers="<%= @markers.to_json %>"
            ></div>
          </div>
        </div>

      <% unless @compost.public || @compost.user == current_user %>
        <div class="col-sm-6">
          <div class="form-container">
            <div class="form-heading text-center">
              <h4>Contactez <%= @compost.user.username ? @compost.user.username.capitalize : @compost.user.first_name %>:</h4>
            </div>
            <%= simple_form_for [@compost, @message] do |f| %>
              <%= f.input :content, label: false, placeholder: "Votre message", input_html: { rows: 8 } %>
              <%= f.input :from_show, as: :hidden, input_html: { value: true }%>
              <div class="form-submit text-center">
                <%= f.submit :Envoyer, class: "btn-rounded btn-success" %>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
