<% content_for(:meta_title) { "Messagerie" } %>
<div class="content-container">

  <div class="container form-container">
    <div class="form-heading text-center">
      <h2>Conversation avec <%= @other_user.username ? @other_user.username.capitalize : @other_user.first_name %></h2>
      <h4>Compost: <%= @conversation.compost.address %></h4>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="conversation-header">
            <div class="other_user text-center">
              <h4><%= @other_user.username ? @other_user.username.capitalize : @other_user.first_name %></h4>
              <% if @other_user.facebook_picture_url %>
                <%= image_tag @other_user.facebook_picture_url, class: "avatar" %>
              <% else %>
                <%= cl_image_tag @other_user.photo, height: 40, width: 40, crop: :fill, class: "avatar"%>
              <% end %>
            </div>
            <div class="you text-center">
              <h4>Vous</h4>
              <% if current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url, class: "avatar" %>
              <% else %>
                <%= cl_image_tag current_user.photo, height: 100, width: 100, crop: :fill, class: "avatar"%>
              <% end %>
            </div>
          </div>
          <% @messages.each do |message| %>
            <div class="col-xs-12">
              <div class="message-card-<%= message.user == current_user ? "right" : "left" %>">
                <div class="message-content <%= message.user == current_user ? "message-right" : "message-left" %>">
                  <p><i>le <%= message.created_at.strftime("%d/%m/%Y")%> <br>à <%= message.created_at.strftime("%H:%M")%></i></p>
                  <p><%= message.content.capitalize %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <h4>Ecrire un nouveau message</h4>
        <%= simple_form_for [@compost, @message] do |f| %>
          <%= f.input :content, label: false %>
          <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id} %>
          <%= f.submit :Envoyer%>
        <% end %>
      </div>
    </div>
  </div>
</div>
