  <div class="cta-container" style="background: linear-gradient(-225deg, rgba(20, 87, 76,0.6) 0%, rgba(230,230,230,0.6) 50%), url('<%= cl_image_path("markus-spiske-104913-unsplash_purycv.jpg", width: 1500, crop: :fill, gravity: :south) %>');">
    <div class="cta-content">
      <p>Compostez vos déchets végétaux. Simplement.</p>
      <p><%= link_to 'Trouver un composteur à proximité', composts_path, class: "btn btn-lg btn-success btn-rounded" %></p>
    </div>
  </div>

  <div class="container content-container">
    <div class="row content-row">
      <div class="hidden-xs hidden-sm col-md-4 content-photo text-center">
        <%= cl_image_tag("josh-wilburne-140523-unsplash_ih1oz3.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"south", :height=>350, :opacity=>80, :width=>350, :crop=>"fill") %>
      </div>
      <div class="hidden-xs col-sm-4 hidden-md hidden-lg content-photo text-center">
        <%= cl_image_tag("josh-wilburne-140523-unsplash_ih1oz3.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"center", :height=>220, :opacity=>80, :width=>220, :crop=>"fill") %>
      </div>
      <div class="col-xs-12 col-sm-8 content-item">
        <h3>Pourquoi CompostMe?</h3>
        <p>Pour vous intégrer naturellement le compostage dans votre quotidien, CompostMe est l'outil qui vous permet de trouver un composteur facilement, près de chez vous ou sur votre trajet habituel. </p>
        <p>La loi de transition énergétique prévoit en effet qu'en France, nous trierons tous nos bio-déchets d'ici 2025. Mais avant même que le tri des bio-déchets entre officiellement dans notre quotidien, un nombre croissant de français fait le choix de les composter, pour le plus grand bien de leur poubelle, de l'environnement et de leur vie de quartier.</p>
        <h5>Alors, on s'y met aujourd'hui?</h5>
      </div>
    </div>

    <div class="row content-row info-row">
      <div class="col-xs-12 content-item">
        <h3 class="text-center">Vous voulez...</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-4 home-info border-right">
            <h4 class="text-center">trouver où composter vos bio-déchets?</h4>
            <p>Rien de plus simple!
              <ol>
                <li>Cliquez sur <%= link_to "\"Trouver un composteur à proximité\"", composts_path %></li>
                <li>Accédez à la liste des composteurs collectifs et des propriétaires de composteurs proches de vous</li>
                <li>Apportez vos déchets au composteur collectif ou <%= link_to "inscrivez-vous", new_user_registration_path %> et entrez en contact avec les propriétaires pour organiser la récupération de vos déchets</li>
              </ol>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 home-info border-right">
            <h4 class="text-center">récupérer des bio-déchets pour votre composteur?</h4>
            <p>Ajoutez votre composteur à notre listing en quelques clics:
              <ol>
                <li><%= link_to "Inscrivez-vous", new_user_registration_path %></li>
                <li>Ajoutez un point de rendez-vous et la description des bio-déchets que vous désirez collecter en remplissant le formulaire</li>
                <li>Une fois qu'un autre membre vous contacte, organisez la collecte selon les modalités qui vous conviennent</li>
              </ol>
            </p>
          </div>
           <div class="col-xs-12 col-sm-4 home-info">
            <h4 class="text-center">nous signaler un composteur collectif?</h4>
            <p class="text-center">
              <br>
              <%= link_to "mailto:contact@compostme.app", target: "_blank" do %>
                Envoyez-nous un email :) <%= icon('far', 'envelope') %>
              <% end %>
            </p>
            <p class="text-center">
              <br>
              <%= cl_image_tag("kyle-ellefson-196125-unsplash_pz3unp.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"south", :height=>150, :opacity=>80, :width=>150, :crop=>"fill") %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row content-row">
      <div class="col-xs-12 col-sm-8 content-item">
        <h3>Un peu plus sur CompostMe</h3>
        <p>CompostMe est un projet né d'un envie toute simple: proposer une plateforme unique qui permette à tout un chacun de s'y retrouver dans le compostage au quotidien, peu importe qu'il soit citadin ou rural, eco-warrior aguerri ou petit nouveau timide, ...</p>
        <p>Beaucoup des ressources officielles ou officieuses actuellement disponibles sont limitées - elles sont uniquement régionales, elles ne recensent pas les composteurs de particuliers ou, tout simplement, elles ne sont plus mises à jour.</p>
        <p>Notre ambition est donc démesurée (si, si, c'est voulu), c'est-à-dire de centraliser un listing à jour des composteurs collectifs et privés, à travers la France (pour commencer...)</p>
      </div>
       <div class="hidden-xs hidden-sm col-md-4 content-photo text-center">
        <%= cl_image_tag("webvilla-293-unsplash_zbdz68.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"south", :height=>350, :opacity=>80, :width=>350, :crop=>"fill") %>
      </div>
      <div class="hidden-xs col-sm-4 hidden-md hidden-lg content-photo text-center">
        <%= cl_image_tag("webvilla-293-unsplash_zbdz68.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"center", :height=>220, :opacity=>80, :width=>220, :crop=>"fill") %>
      </div>
    </div>
  </div>


