  <div class="cta-container" style="background: linear-gradient(-225deg, rgba(20, 87, 76,0.6) 0%, rgba(230,230,230,0.6) 50%), url('<%= cl_image_path("markus-spiske-104913-unsplash_purycv.jpg", width: 1500, crop: :fill, gravity: :south) %>');">
    <div class="cta-content">
      <p>Compostez vos déchets végétaux. Simplement.</p>
      <p><%= link_to 'Trouver un compost à proximité', composts_path, class: "btn btn-lg btn-success btn-rounded" %></p>
    </div>
  </div>

  <div class="container content-container">
    <div class="row content-row">
      <div class="hidden-xs hidden-sm col-md-4 content-photo text-center">
        <%= cl_image_tag("josh-wilburne-140523-unsplash_ih1oz3.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"south", :height=>350, :opacity=>80, :width=>350, :crop=>"fill") %>
      </div>
      <div class="hidden-xs col-sm-4 hidden-md hidden-lg content-photo text-center">
        <%= cl_image_tag("josh-wilburne-140523-unsplash_ih1oz3.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"center", :height=>220, :opacity=>80, :width=>220, :crop=>"fill") %>
      </div>
      <div class="col-xs-12 col-sm-8 content-item">
        <h3>Pourquoi CompostMe?</h3>
        <p>Lorem ipsum dolor sit amet, mea ei illud falli exerci, dicunt evertitur voluptatum nec ea, iusto commune assentior per et. Ferri albucius honestatis cu nam. Dolor tantas delectus his te, saperet legendos eu vel, no ferri nulla quaerendum vim. Ex vel falli altera iisque, pri ex erant albucius laboramus. Eam ex justo nonumy accusamus.</p>
        <p>Nobis propriae delicatissimi est te. Veniam inermis omittam in mel, ut veritus commune volutpat his, sed te tempor appellantur. Ei mandamus consequuntur has, no pro quis legere civibus. Viris efficiendi cu his, vis ocurreret persequeris contentiones cu.</p>
      </div>
    </div>

    <div class="row content-row">
      <div class="col-xs-12 col-sm-8 content-item">
        <h3>Tout ça pour quoi?</h3>
        <p>Lorem ipsum dolor sit amet, mea ei illud falli exerci, dicunt evertitur voluptatum nec ea, iusto commune assentior per et. Ferri albucius honestatis cu nam. Dolor tantas delectus his te, saperet legendos eu vel, no ferri nulla quaerendum vim. Ex vel falli altera iisque, pri ex erant albucius laboramus. Eam ex justo nonumy accusamus.</p>
        <p>Nobis propriae delicatissimi est te. Veniam inermis omittam in mel, ut veritus commune volutpat his, sed te tempor appellantur. Ei mandamus consequuntur has, no pro quis legere civibus. Viris efficiendi cu his, vis ocurreret persequeris contentiones cu.</p>
      </div>
      <div class="hidden-xs hidden-sm col-md-4 content-photo text-center">
        <%= cl_image_tag("kyle-ellefson-196125-unsplash_pz3unp.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"south", :height=>350, :opacity=>80, :width=>350, :crop=>"fill") %>
      </div>
      <div class="hidden-xs col-sm-4 hidden-md hidden-lg content-photo text-center">
        <%= cl_image_tag("kyle-ellefson-196125-unsplash_pz3unp.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"center", :height=>220, :opacity=>80, :width=>220, :crop=>"fill") %>
      </div>
    </div>

    <div class="row content-row">
       <div class="hidden-xs hidden-sm col-md-4 content-photo text-center">
        <%= cl_image_tag("webvilla-293-unsplash_zbdz68.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"south", :height=>350, :opacity=>80, :width=>350, :crop=>"fill") %>
      </div>
      <div class="hidden-xs col-sm-4 hidden-md hidden-lg content-photo text-center">
        <%= cl_image_tag("webvilla-293-unsplash_zbdz68.jpg", :border=>"10px_solid_rgb:ffffff", :gravity=>"center", :height=>220, :opacity=>80, :width=>220, :crop=>"fill") %>
      </div>
      <div class="col-xs-12 col-sm-8 content-item">
        <h3>Alors comment ça marche?</h3>
        <p>Lorem ipsum dolor sit amet, mea ei illud falli exerci, dicunt evertitur voluptatum nec ea, iusto commune assentior per et. Ferri albucius honestatis cu nam. Dolor tantas delectus his te, saperet legendos eu vel, no ferri nulla quaerendum vim. Ex vel falli altera iisque, pri ex erant albucius laboramus. Eam ex justo nonumy accusamus.</p>
        <p>Nobis propriae delicatissimi est te. Veniam inermis omittam in mel, ut veritus commune volutpat his, sed te tempor appellantur. Ei mandamus consequuntur has, no pro quis legere civibus. Viris efficiendi cu his, vis ocurreret persequeris contentiones cu.</p>
      </div>
    </div>
  </div>


